[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
websocket-client = "*"
starlette = "*"
uvicorn = "*"
httptools = "*"
websockets = ">=6.0"
channels_redis = {extras = ["cryptography"],version = "*"}

[requires]
python_version = "3.7"
